# Configurações do PostgreSQL
PG_USER=postgres
PG_PASSWORD=sua_senha_aqui
PG_HOST=localhost
PG_DATABASE=parknow_db
PG_PORT=5432

# Nível de log (pode ser 'error', 'warn', 'info', 'verbose', 'debug', 'silly')
LOG_LEVEL=info
