--
-- PostgreSQL database dump
--

\restrict 9bBPmLOXldg8qail0HfdKEwQdVI9TLfQMKR4K31zu2T0OrU94T9L0GZucFO7sE5

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_usuarios_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_usuarios_status AS ENUM (
    'ativo',
    'inativo',
    'suspenso'
);


ALTER TYPE public.enum_usuarios_status OWNER TO postgres;

--
-- Name: enum_usuarios_tipo_usuario; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_usuarios_tipo_usuario AS ENUM (
    'cliente',
    'admin',
    'funcionario'
);


ALTER TYPE public.enum_usuarios_tipo_usuario OWNER TO postgres;

--
-- Name: pagamento_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.pagamento_status AS ENUM (
    'pending',
    'processing',
    'paid',
    'approved',
    'declined',
    'refunded',
    'cancelled',
    'failed',
    'pendente',
    'aprovado',
    'recusado',
    'reembolsado',
    'cancelado'
);


ALTER TYPE public.pagamento_status OWNER TO postgres;

--
-- Name: status_pagamento_pix; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status_pagamento_pix AS ENUM (
    'pending',
    'approved',
    'authorized',
    'in_process',
    'in_mediation',
    'rejected',
    'cancelled',
    'refunded',
    'charged_back'
);


ALTER TYPE public.status_pagamento_pix OWNER TO postgres;

--
-- Name: atualizar_data_atualizacao(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.atualizar_data_atualizacao() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.data_atualizacao = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.atualizar_data_atualizacao() OWNER TO postgres;

--
-- Name: check_email_across_tables(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_email_across_tables() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Se estamos inserindo/atualizando em usuarios, verifica se email existe em admins
    IF TG_TABLE_NAME = 'usuarios' THEN
        IF EXISTS (SELECT 1 FROM admins WHERE email = NEW.email) THEN
            RAISE EXCEPTION 'Email % j├â┬í cadastrado como administrador', NEW.email;
        END IF;
    -- Se estamos inserindo/atualizando em admins, verifica se email existe em usuarios
    ELSIF TG_TABLE_NAME = 'admins' THEN
        IF EXISTS (SELECT 1 FROM usuarios WHERE email = NEW.email) THEN
            RAISE EXCEPTION 'Email % j├â┬í cadastrado como usu├â┬írio', NEW.email;
        END IF;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_email_across_tables() OWNER TO postgres;

--
-- Name: limpar_chave_pix(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.limpar_chave_pix() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Remove a chave_pix da tabela estacionamentos quando um registro for exclu├â┬¡do em estacionamento_pagamentos
    UPDATE estacionamentos
    SET chave_pix = NULL,
        data_atualizacao = NOW()
    WHERE id = OLD.estacionamento_id;
    
    RETURN OLD;
END;
$$;


ALTER FUNCTION public.limpar_chave_pix() OWNER TO postgres;

--
-- Name: sincronizar_chave_pix(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.sincronizar_chave_pix() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Atualiza a chave_pix na tabela estacionamentos quando um registro for inserido ou atualizado em estacionamento_pagamentos
    UPDATE estacionamentos
    SET chave_pix = NEW.chave_pix,
        data_atualizacao = NOW()
    WHERE id = NEW.estacionamento_id;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.sincronizar_chave_pix() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
            BEGIN
                NEW.updated_at = CURRENT_TIMESTAMP;
                RETURN NEW;
            END;
            $$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: SequelizeMeta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SequelizeMeta" (
    name character varying(255) NOT NULL
);


ALTER TABLE public."SequelizeMeta" OWNER TO postgres;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    senha character varying(255) NOT NULL,
    nivel_acesso character varying(20) DEFAULT 'operador'::character varying NOT NULL,
    status character varying(20) DEFAULT 'ativo'::character varying NOT NULL,
    ultimo_acesso timestamp with time zone,
    reset_token character varying(255),
    reset_token_expires timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    refresh_token_hash character varying(255),
    telefone character varying(15),
    cnpj character varying(18)
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: COLUMN admins.telefone; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.admins.telefone IS 'Telefone de contato do administrador';


--
-- Name: COLUMN admins.cnpj; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.admins.cnpj IS 'CNPJ do estacionamento (cadastrado pelo admin)';


--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admins_id_seq OWNER TO postgres;

--
-- Name: admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admins_id_seq OWNED BY public.admins.id;


--
-- Name: estacionamentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estacionamentos (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    cnpj character varying(18),
    endereco text,
    telefone character varying(15),
    email character varying(100),
    capacidade_total integer NOT NULL,
    vagas_disponiveis integer NOT NULL,
    valor_hora numeric(10,2) NOT NULL,
    valor_diaria numeric(10,2) NOT NULL,
    valor_mensal numeric(10,2) NOT NULL,
    horario_abertura time without time zone NOT NULL,
    horario_fechamento time without time zone NOT NULL,
    status character varying(20) DEFAULT 'ativo'::character varying NOT NULL,
    data_cadastro timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    latitude numeric(10,8),
    longitude numeric(11,8),
    vagas integer DEFAULT 0 NOT NULL,
    preco_hora numeric(10,2) DEFAULT 5.00 NOT NULL,
    preco_dia numeric(10,2) DEFAULT 30.00 NOT NULL,
    descricao text,
    foto text,
    admin_id integer,
    chave_pix_cnpj character varying(255),
    id_solicitacao integer,
    chave_pix character varying(140),
    tipo_chave_pix character varying(20),
    nome_titular_pix character varying(100),
    asaas_wallet_id character varying(100),
    asaas_connected_at timestamp with time zone,
    cep character varying(9),
    logradouro character varying(255),
    numero character varying(20),
    complemento character varying(100),
    bairro character varying(100),
    cidade character varying(100),
    uf character(2),
    asaas_customer_id character varying(255)
);


ALTER TABLE public.estacionamentos OWNER TO postgres;

--
-- Name: COLUMN estacionamentos.latitude; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.latitude IS 'Latitude geogr├ífica do estacionamento';


--
-- Name: COLUMN estacionamentos.longitude; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.longitude IS 'Longitude geogr├ífica do estacionamento';


--
-- Name: COLUMN estacionamentos.vagas; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.vagas IS 'N├║mero total de vagas do estacionamento';


--
-- Name: COLUMN estacionamentos.preco_hora; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.preco_hora IS 'Pre├ºo por hora do estacionamento';


--
-- Name: COLUMN estacionamentos.preco_dia; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.preco_dia IS 'Pre├ºo por dia do estacionamento';


--
-- Name: COLUMN estacionamentos.descricao; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.descricao IS 'Descri├º├úo do estacionamento';


--
-- Name: COLUMN estacionamentos.foto; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.foto IS 'URL da foto do estacionamento';


--
-- Name: COLUMN estacionamentos.chave_pix; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.chave_pix IS 'Chave PIX do estacionamento (mantida em sincronia com estacionamento_pagamentos)';


--
-- Name: COLUMN estacionamentos.tipo_chave_pix; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.tipo_chave_pix IS 'Tipo da chave PIX (CPF, CNPJ, telefone, email, aleatoria)';


--
-- Name: COLUMN estacionamentos.nome_titular_pix; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.nome_titular_pix IS 'Nome do titular da conta PIX';


--
-- Name: COLUMN estacionamentos.asaas_wallet_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.asaas_wallet_id IS 'ID da subconta (wallet) no Asaas para receber splits';


--
-- Name: COLUMN estacionamentos.asaas_connected_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.asaas_connected_at IS 'Data de conex├â┬úo com o Asaas';


--
-- Name: COLUMN estacionamentos.cep; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.cep IS 'CEP do estacionamento (formato: 00000-000)';


--
-- Name: COLUMN estacionamentos.logradouro; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.logradouro IS 'Logradouro (Rua, Avenida, etc)';


--
-- Name: COLUMN estacionamentos.numero; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.numero IS 'N├â┬║mero do endere├â┬ºo';


--
-- Name: COLUMN estacionamentos.complemento; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.complemento IS 'Complemento do endere├â┬ºo (opcional)';


--
-- Name: COLUMN estacionamentos.bairro; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.bairro IS 'Bairro';


--
-- Name: COLUMN estacionamentos.cidade; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.cidade IS 'Cidade';


--
-- Name: COLUMN estacionamentos.uf; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.uf IS 'Unidade Federativa (Estado)';


--
-- Name: COLUMN estacionamentos.asaas_customer_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamentos.asaas_customer_id IS 'ID do customer do estacionamento no Asaas';


--
-- Name: configuracao_pagamento_estacionamento; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.configuracao_pagamento_estacionamento AS
 SELECT id AS estacionamento_id,
    chave_pix,
    email,
    'pix'::text AS metodo_pagamento,
    true AS ativo
   FROM public.estacionamentos e;


ALTER VIEW public.configuracao_pagamento_estacionamento OWNER TO postgres;

--
-- Name: estacionamento_pagamentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estacionamento_pagamentos (
    id integer NOT NULL,
    estacionamento_id integer NOT NULL,
    tipo_chave_pix character varying(20) NOT NULL,
    chave_pix character varying(140) NOT NULL,
    nome_titular character varying(255) NOT NULL,
    banco character varying(100),
    tipo_conta character varying(20) DEFAULT 'CONTA_CORRENTE'::character varying,
    agencia character varying(20),
    conta character varying(50),
    data_criacao timestamp with time zone DEFAULT now(),
    data_atualizacao timestamp with time zone DEFAULT now(),
    data_exclusao timestamp with time zone,
    CONSTRAINT ck_tipo_chave_pix_valido CHECK (((tipo_chave_pix)::text = ANY (ARRAY[('CPF'::character varying)::text, ('CNPJ'::character varying)::text, ('EMAIL'::character varying)::text, ('TELEFONE'::character varying)::text, ('ALEATORIA'::character varying)::text]))),
    CONSTRAINT ck_tipo_conta_valido CHECK (((tipo_conta)::text = ANY (ARRAY[('CONTA_CORRENTE'::character varying)::text, ('CONTA_POUPANCA'::character varying)::text, ('CONTA_PAGAMENTO'::character varying)::text])))
);


ALTER TABLE public.estacionamento_pagamentos OWNER TO postgres;

--
-- Name: TABLE estacionamento_pagamentos; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.estacionamento_pagamentos IS 'Armazena as configura├â┬º├â┬Áes de pagamento dos estacionamentos, incluindo chaves PIX e dados banc├â┬írios';


--
-- Name: COLUMN estacionamento_pagamentos.estacionamento_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamento_pagamentos.estacionamento_id IS 'Refer├â┬¬ncia ao estacionamento';


--
-- Name: COLUMN estacionamento_pagamentos.tipo_chave_pix; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamento_pagamentos.tipo_chave_pix IS 'Tipo da chave PIX (CPF, CNPJ, EMAIL, TELEFONE, ALEATORIA)';


--
-- Name: COLUMN estacionamento_pagamentos.chave_pix; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamento_pagamentos.chave_pix IS 'Valor da chave PIX';


--
-- Name: COLUMN estacionamento_pagamentos.nome_titular; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamento_pagamentos.nome_titular IS 'Nome do titular da conta';


--
-- Name: COLUMN estacionamento_pagamentos.banco; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamento_pagamentos.banco IS 'Nome do banco (opcional)';


--
-- Name: COLUMN estacionamento_pagamentos.tipo_conta; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamento_pagamentos.tipo_conta IS 'Tipo de conta banc├â┬íria';


--
-- Name: COLUMN estacionamento_pagamentos.agencia; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamento_pagamentos.agencia IS 'N├â┬║mero da ag├â┬¬ncia (opcional)';


--
-- Name: COLUMN estacionamento_pagamentos.conta; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estacionamento_pagamentos.conta IS 'N├â┬║mero da conta (opcional)';


--
-- Name: estacionamento_pagamentos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estacionamento_pagamentos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estacionamento_pagamentos_id_seq OWNER TO postgres;

--
-- Name: estacionamento_pagamentos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estacionamento_pagamentos_id_seq OWNED BY public.estacionamento_pagamentos.id;


--
-- Name: estacionamentos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estacionamentos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estacionamentos_id_seq OWNER TO postgres;

--
-- Name: estacionamentos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estacionamentos_id_seq OWNED BY public.estacionamentos.id;


--
-- Name: horarios_funcionamento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.horarios_funcionamento (
    id integer NOT NULL,
    estacionamento_id integer NOT NULL,
    dia_semana integer NOT NULL,
    aberto boolean DEFAULT true NOT NULL,
    horario_abertura time without time zone,
    horario_fechamento time without time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_horario_valido CHECK (((aberto = false) OR ((aberto = true) AND (horario_abertura IS NOT NULL) AND (horario_fechamento IS NOT NULL))))
);


ALTER TABLE public.horarios_funcionamento OWNER TO postgres;

--
-- Name: TABLE horarios_funcionamento; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.horarios_funcionamento IS 'Tabela de hor├írios de funcionamento dos estacionamentos';


--
-- Name: COLUMN horarios_funcionamento.id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.horarios_funcionamento.id IS 'ID ├║nico do hor├írio de funcionamento';


--
-- Name: COLUMN horarios_funcionamento.estacionamento_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.horarios_funcionamento.estacionamento_id IS 'ID do estacionamento';


--
-- Name: COLUMN horarios_funcionamento.dia_semana; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.horarios_funcionamento.dia_semana IS 'Dia da semana (0=Domingo, 1=Segunda, ..., 6=S├íbado)';


--
-- Name: COLUMN horarios_funcionamento.aberto; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.horarios_funcionamento.aberto IS 'Se o estacionamento est├í aberto neste dia';


--
-- Name: COLUMN horarios_funcionamento.horario_abertura; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.horarios_funcionamento.horario_abertura IS 'Hor├írio de abertura (HH:MM:SS)';


--
-- Name: COLUMN horarios_funcionamento.horario_fechamento; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.horarios_funcionamento.horario_fechamento IS 'Hor├írio de fechamento (HH:MM:SS)';


--
-- Name: COLUMN horarios_funcionamento.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.horarios_funcionamento.created_at IS 'Data de cria├º├úo do registro';


--
-- Name: COLUMN horarios_funcionamento.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.horarios_funcionamento.updated_at IS 'Data da ├║ltima atualiza├º├úo do registro';


--
-- Name: horarios_funcionamento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.horarios_funcionamento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.horarios_funcionamento_id_seq OWNER TO postgres;

--
-- Name: horarios_funcionamento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.horarios_funcionamento_id_seq OWNED BY public.horarios_funcionamento.id;


--
-- Name: logs_admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logs_admins (
    id integer NOT NULL,
    admin_id integer,
    acao character varying(50) NOT NULL,
    tabela_afetada character varying(50),
    registro_id integer,
    valores_antigos jsonb,
    valores_novos jsonb,
    ip_address character varying(45),
    user_agent text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.logs_admins OWNER TO postgres;

--
-- Name: logs_admins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.logs_admins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.logs_admins_id_seq OWNER TO postgres;

--
-- Name: logs_admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.logs_admins_id_seq OWNED BY public.logs_admins.id;


--
-- Name: logs_veiculos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logs_veiculos (
    id integer NOT NULL,
    vaga_id integer,
    estacionamento_id integer,
    usuario_id integer,
    tipo_operacao character varying(20) NOT NULL,
    placa_veiculo character varying(10),
    data_hora timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    detalhes text,
    saida timestamp with time zone,
    tempo_estacionado integer DEFAULT 0,
    valor_pago numeric(10,2),
    entrada timestamp with time zone,
    CONSTRAINT logs_veiculos_tipo_operacao_check CHECK (((tipo_operacao)::text = ANY (ARRAY[('entrada'::character varying)::text, ('saida'::character varying)::text, ('reserva'::character varying)::text, ('cancelamento'::character varying)::text])))
);


ALTER TABLE public.logs_veiculos OWNER TO postgres;

--
-- Name: COLUMN logs_veiculos.saida; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.logs_veiculos.saida IS 'Data/hora de sa├â┬¡da do ve├â┬¡culo';


--
-- Name: COLUMN logs_veiculos.tempo_estacionado; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.logs_veiculos.tempo_estacionado IS 'Tempo estacionado em segundos';


--
-- Name: COLUMN logs_veiculos.valor_pago; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.logs_veiculos.valor_pago IS 'Valor pago pelo estacionamento';


--
-- Name: COLUMN logs_veiculos.entrada; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.logs_veiculos.entrada IS 'Data/hora de entrada do ve├â┬¡culo';


--
-- Name: logs_veiculos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.logs_veiculos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.logs_veiculos_id_seq OWNER TO postgres;

--
-- Name: logs_veiculos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.logs_veiculos_id_seq OWNED BY public.logs_veiculos.id;


--
-- Name: notificacoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notificacoes (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    tipo character varying(50) NOT NULL,
    titulo character varying(255) NOT NULL,
    mensagem text NOT NULL,
    dados jsonb,
    lida boolean DEFAULT false,
    data_criacao timestamp without time zone DEFAULT now(),
    data_leitura timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.notificacoes OWNER TO postgres;

--
-- Name: TABLE notificacoes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.notificacoes IS 'Tabela para armazenar notifica├â┬º├â┬Áes do sistema';


--
-- Name: COLUMN notificacoes.usuario_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notificacoes.usuario_id IS 'ID do usu├â┬írio que receber├â┬í a notifica├â┬º├â┬úo';


--
-- Name: COLUMN notificacoes.tipo; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notificacoes.tipo IS 'Tipo da notifica├â┬º├â┬úo (pix_copiado, pix_visualizado, pagamento_confirmado, etc)';


--
-- Name: COLUMN notificacoes.titulo; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notificacoes.titulo IS 'T├â┬¡tulo da notifica├â┬º├â┬úo';


--
-- Name: COLUMN notificacoes.mensagem; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notificacoes.mensagem IS 'Mensagem/corpo da notifica├â┬º├â┬úo';


--
-- Name: COLUMN notificacoes.dados; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notificacoes.dados IS 'Dados adicionais em formato JSON';


--
-- Name: COLUMN notificacoes.lida; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notificacoes.lida IS 'Se a notifica├â┬º├â┬úo foi lida ou n├â┬úo';


--
-- Name: COLUMN notificacoes.data_criacao; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notificacoes.data_criacao IS 'Data e hora de cria├â┬º├â┬úo da notifica├â┬º├â┬úo';


--
-- Name: COLUMN notificacoes.data_leitura; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notificacoes.data_leitura IS 'Data e hora em que a notifica├â┬º├â┬úo foi lida';


--
-- Name: notificacoes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notificacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notificacoes_id_seq OWNER TO postgres;

--
-- Name: notificacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notificacoes_id_seq OWNED BY public.notificacoes.id;


--
-- Name: pagamentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pagamentos (
    id integer NOT NULL,
    reserva_id integer NOT NULL,
    id_estacionamento integer NOT NULL,
    id_usuario integer NOT NULL,
    valor numeric(10,2) NOT NULL,
    metodo_pagamento character varying(50) NOT NULL,
    codigo_transacao character varying(100),
    dados_retorno jsonb,
    data_pagamento timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp without time zone,
    gateway character varying(50) DEFAULT 'asaas'::character varying NOT NULL,
    parcelas integer DEFAULT 1,
    status public.pagamento_status NOT NULL
);


ALTER TABLE public.pagamentos OWNER TO postgres;

--
-- Name: COLUMN pagamentos.metodo_pagamento; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.pagamentos.metodo_pagamento IS 'M├â┬®todo de pagamento (ex: credit_card, boleto, pix)';


--
-- Name: COLUMN pagamentos.codigo_transacao; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.pagamentos.codigo_transacao IS 'C├â┬│digo da transa├â┬º├â┬úo no gateway de pagamento';


--
-- Name: COLUMN pagamentos.dados_retorno; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.pagamentos.dados_retorno IS 'Dados adicionais retornados pelo gateway de pagamento';


--
-- Name: COLUMN pagamentos.data_pagamento; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.pagamentos.data_pagamento IS 'Data em que o pagamento foi confirmado pelo gateway';


--
-- Name: COLUMN pagamentos.gateway; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.pagamentos.gateway IS 'Nome do gateway de pagamento usado (ex: pagarme, mercadopago)';


--
-- Name: COLUMN pagamentos.parcelas; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.pagamentos.parcelas IS 'N├â┬║mero de parcelas do pagamento';


--
-- Name: pagamentos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pagamentos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pagamentos_id_seq OWNER TO postgres;

--
-- Name: pagamentos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pagamentos_id_seq OWNED BY public.pagamentos.id;


--
-- Name: pagamentos_pix; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pagamentos_pix (
    id integer NOT NULL,
    id_reserva integer,
    id_estacionamento integer NOT NULL,
    id_usuario integer NOT NULL,
    valor numeric(10,2) NOT NULL,
    chave_pix_destinatario character varying(255) NOT NULL,
    status public.status_pagamento_pix DEFAULT 'pending'::public.status_pagamento_pix NOT NULL,
    qr_code text,
    qr_code_base64 text,
    codigo_copia_cola text,
    data_expiracao timestamp with time zone,
    data_pagamento timestamp with time zone,
    dados_retorno jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    deleted_at timestamp with time zone
);


ALTER TABLE public.pagamentos_pix OWNER TO postgres;

--
-- Name: pagamentos_pix_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pagamentos_pix_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pagamentos_pix_id_seq OWNER TO postgres;

--
-- Name: pagamentos_pix_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pagamentos_pix_id_seq OWNED BY public.pagamentos_pix.id;


--
-- Name: reservas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservas (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    vaga_id integer NOT NULL,
    estacionamento_id integer NOT NULL,
    data_reserva timestamp without time zone NOT NULL,
    data_entrada_prevista timestamp without time zone NOT NULL,
    data_saida_prevista timestamp without time zone NOT NULL,
    data_entrada_real timestamp without time zone,
    data_saida_real timestamp without time zone,
    status character varying(20) DEFAULT 'pendente'::character varying NOT NULL,
    valor_total numeric(10,2),
    forma_pagamento character varying(50),
    status_pagamento character varying(20) DEFAULT 'pendente'::character varying,
    codigo_reserva character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    placa_veiculo character varying(10) NOT NULL,
    data_criacao timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    id_pagamento character varying(100),
    CONSTRAINT reservas_status_check CHECK (((status)::text = ANY (ARRAY[('pendente'::character varying)::text, ('pendente_pagamento'::character varying)::text, ('confirmada'::character varying)::text, ('ativa'::character varying)::text, ('em_andamento'::character varying)::text, ('concluida'::character varying)::text, ('finalizada'::character varying)::text, ('cancelada'::character varying)::text, ('expirada'::character varying)::text, ('nao_compareceu'::character varying)::text, ('pagamento_aprovado'::character varying)::text, ('pagamento_recusado'::character varying)::text])))
);


ALTER TABLE public.reservas OWNER TO postgres;

--
-- Name: reservas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reservas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reservas_id_seq OWNER TO postgres;

--
-- Name: reservas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reservas_id_seq OWNED BY public.reservas.id;


--
-- Name: solicitacoes_estacionamento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitacoes_estacionamento (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    cnpj character varying(18) NOT NULL,
    razao_social character varying(255) NOT NULL,
    nome_fantasia character varying(255),
    chave_pix_cnpj character varying(255) NOT NULL,
    endereco jsonb NOT NULL,
    telefone character varying(20) NOT NULL,
    email_contato character varying(255) NOT NULL,
    status character varying(20) DEFAULT 'pendente'::character varying NOT NULL,
    motivo_rejeicao text,
    data_solicitacao timestamp with time zone DEFAULT now(),
    data_aprovacao timestamp with time zone,
    aprovado_por integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    deleted_at timestamp with time zone
);


ALTER TABLE public.solicitacoes_estacionamento OWNER TO postgres;

--
-- Name: solicitacoes_estacionamento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.solicitacoes_estacionamento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.solicitacoes_estacionamento_id_seq OWNER TO postgres;

--
-- Name: solicitacoes_estacionamento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.solicitacoes_estacionamento_id_seq OWNED BY public.solicitacoes_estacionamento.id;


--
-- Name: tipos_veiculos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipos_veiculos (
    id integer NOT NULL,
    nome character varying(50) NOT NULL,
    descricao text,
    fator_preco numeric(3,2) DEFAULT 1.00
);


ALTER TABLE public.tipos_veiculos OWNER TO postgres;

--
-- Name: tipos_veiculos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipos_veiculos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipos_veiculos_id_seq OWNER TO postgres;

--
-- Name: tipos_veiculos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipos_veiculos_id_seq OWNED BY public.tipos_veiculos.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    cpf character varying(14),
    telefone character varying(15),
    senha character varying(255) NOT NULL,
    tipo_usuario character varying(20) DEFAULT 'cliente'::character varying NOT NULL,
    status character varying(20) DEFAULT 'ativo'::character varying NOT NULL,
    data_cadastro timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ultimo_acesso timestamp without time zone,
    reset_token character varying(255),
    reset_token_expires timestamp without time zone,
    email_verified_at timestamp without time zone,
    tipo_veiculo character varying(50),
    placa_veiculo character varying(10),
    refresh_token_hash text,
    foto_perfil text
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: COLUMN usuarios.tipo_veiculo; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.usuarios.tipo_veiculo IS 'Tipo de ve├¡culo do usu├írio (ex: carro, moto, etc.)';


--
-- Name: COLUMN usuarios.placa_veiculo; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.usuarios.placa_veiculo IS 'Placa do ve├¡culo do usu├írio';


--
-- Name: COLUMN usuarios.refresh_token_hash; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.usuarios.refresh_token_hash IS 'Hash do refresh token JWT para invalidar tokens';


--
-- Name: COLUMN usuarios.foto_perfil; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.usuarios.foto_perfil IS 'URL da foto de perfil do usu├írio';


--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: vagas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vagas (
    id integer NOT NULL,
    numero integer NOT NULL,
    estacionamento_id integer NOT NULL,
    status character varying(20) DEFAULT 'livre'::character varying NOT NULL,
    placa character varying(10),
    tipo_veiculo character varying(50),
    entrada timestamp without time zone,
    tempo_estacionado integer DEFAULT 0,
    usuario_id integer,
    reserva_id_ativa integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT vagas_status_check CHECK (((status)::text = ANY (ARRAY[('livre'::character varying)::text, ('ocupada'::character varying)::text, ('reservada'::character varying)::text, ('indisponivel'::character varying)::text])))
);


ALTER TABLE public.vagas OWNER TO postgres;

--
-- Name: vagas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vagas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vagas_id_seq OWNER TO postgres;

--
-- Name: vagas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vagas_id_seq OWNED BY public.vagas.id;


--
-- Name: veiculos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.veiculos (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    tipo_veiculo character varying(20) NOT NULL,
    placa_veiculo character varying(10) NOT NULL,
    padrao boolean DEFAULT false NOT NULL,
    data_cadastro timestamp with time zone DEFAULT now(),
    data_atualizacao timestamp with time zone DEFAULT now()
);


ALTER TABLE public.veiculos OWNER TO postgres;

--
-- Name: veiculos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.veiculos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.veiculos_id_seq OWNER TO postgres;

--
-- Name: veiculos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.veiculos_id_seq OWNED BY public.veiculos.id;


--
-- Name: admins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins ALTER COLUMN id SET DEFAULT nextval('public.admins_id_seq'::regclass);


--
-- Name: estacionamento_pagamentos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estacionamento_pagamentos ALTER COLUMN id SET DEFAULT nextval('public.estacionamento_pagamentos_id_seq'::regclass);


--
-- Name: estacionamentos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estacionamentos ALTER COLUMN id SET DEFAULT nextval('public.estacionamentos_id_seq'::regclass);


--
-- Name: horarios_funcionamento id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios_funcionamento ALTER COLUMN id SET DEFAULT nextval('public.horarios_funcionamento_id_seq'::regclass);


--
-- Name: logs_admins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_admins ALTER COLUMN id SET DEFAULT nextval('public.logs_admins_id_seq'::regclass);


--
-- Name: logs_veiculos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_veiculos ALTER COLUMN id SET DEFAULT nextval('public.logs_veiculos_id_seq'::regclass);


--
-- Name: notificacoes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificacoes ALTER COLUMN id SET DEFAULT nextval('public.notificacoes_id_seq'::regclass);


--
-- Name: pagamentos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos ALTER COLUMN id SET DEFAULT nextval('public.pagamentos_id_seq'::regclass);


--
-- Name: pagamentos_pix id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_pix ALTER COLUMN id SET DEFAULT nextval('public.pagamentos_pix_id_seq'::regclass);


--
-- Name: reservas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas ALTER COLUMN id SET DEFAULT nextval('public.reservas_id_seq'::regclass);


--
-- Name: solicitacoes_estacionamento id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitacoes_estacionamento ALTER COLUMN id SET DEFAULT nextval('public.solicitacoes_estacionamento_id_seq'::regclass);


--
-- Name: tipos_veiculos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_veiculos ALTER COLUMN id SET DEFAULT nextval('public.tipos_veiculos_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: vagas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vagas ALTER COLUMN id SET DEFAULT nextval('public.vagas_id_seq'::regclass);


--
-- Name: veiculos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.veiculos ALTER COLUMN id SET DEFAULT nextval('public.veiculos_id_seq'::regclass);


--
-- Data for Name: SequelizeMeta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SequelizeMeta" (name) FROM stdin;
20250612115311-add_payment_gateway_columns.js
\.


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admins (id, nome, email, senha, nivel_acesso, status, ultimo_acesso, reset_token, reset_token_expires, created_at, updated_at, refresh_token_hash, telefone, cnpj) FROM stdin;
7	Mateus Veneziani da Silva	realcredlorenateste@gmail.com	$2b$12$0vkcOA7UeBKmZWfs7brG5.IBlCkMDL8CAzZIevGEIMuywtLOGeDa2	estacionamento	ativo	\N	\N	\N	2025-11-19 09:49:55.530757-03	2025-11-19 09:49:55.530757-03	$2b$10$OKWpc8jVgjdXMS2l6oB3feVoYDiyjVE.DXEE1UG1p58VDuTXS1zBW	(12) 3153-1234	19867505000186
\.


--
-- Data for Name: estacionamento_pagamentos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estacionamento_pagamentos (id, estacionamento_id, tipo_chave_pix, chave_pix, nome_titular, banco, tipo_conta, agencia, conta, data_criacao, data_atualizacao, data_exclusao) FROM stdin;
\.


--
-- Data for Name: estacionamentos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: horarios_funcionamento; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: logs_admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logs_admins (id, admin_id, acao, tabela_afetada, registro_id, valores_antigos, valores_novos, ip_address, user_agent, created_at) FROM stdin;
1	6	Ajustou vagas Est. 5 para 50 (Add: 0, Rem: 0)	\N	\N	\N	\N	::1	\N	2025-06-23 12:07:32.859619-03
2	6	Ajustou vagas Est. 5 para 50 (Add: 0, Rem: 0)	\N	\N	\N	\N	::1	\N	2025-06-23 12:07:50.58655-03
3	1	Registrou entrada Vaga 1 (KZT3530) Est. 1	\N	\N	\N	\N	::1	\N	2025-11-11 12:25:50.19135-03
\.


--
-- Data for Name: logs_veiculos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logs_veiculos (id, vaga_id, estacionamento_id, usuario_id, tipo_operacao, placa_veiculo, data_hora, detalhes, saida, tempo_estacionado, valor_pago, entrada) FROM stdin;
\.


--
-- Data for Name: notificacoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notificacoes (id, usuario_id, tipo, titulo, mensagem, dados, lida, data_criacao, data_leitura, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: pagamentos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pagamentos (id, reserva_id, id_estacionamento, id_usuario, valor, metodo_pagamento, codigo_transacao, dados_retorno, data_pagamento, created_at, updated_at, deleted_at, gateway, parcelas, status) FROM stdin;
\.


--
-- Data for Name: pagamentos_pix; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pagamentos_pix (id, id_reserva, id_estacionamento, id_usuario, valor, chave_pix_destinatario, status, qr_code, qr_code_base64, codigo_copia_cola, data_expiracao, data_pagamento, dados_retorno, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: reservas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reservas (id, usuario_id, vaga_id, estacionamento_id, data_reserva, data_entrada_prevista, data_saida_prevista, data_entrada_real, data_saida_real, status, valor_total, forma_pagamento, status_pagamento, codigo_reserva, created_at, updated_at, placa_veiculo, data_criacao, id_pagamento) FROM stdin;
\.


--
-- Data for Name: solicitacoes_estacionamento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.solicitacoes_estacionamento (id, usuario_id, cnpj, razao_social, nome_fantasia, chave_pix_cnpj, endereco, telefone, email_contato, status, motivo_rejeicao, data_solicitacao, data_aprovacao, aprovado_por, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: tipos_veiculos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipos_veiculos (id, nome, descricao, fator_preco) FROM stdin;
1	Carro	Ve├¡culo de passeio de 4 rodas	1.00
2	Moto	Motocicleta de 2 rodas	0.70
3	Caminh├úo	Ve├¡culo de carga pesada	2.50
4	Van	Ve├¡culo utilit├írio para transporte de passageiros	1.50
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios (id, nome, email, cpf, telefone, senha, tipo_usuario, status, data_cadastro, ultimo_acesso, reset_token, reset_token_expires, email_verified_at, tipo_veiculo, placa_veiculo, refresh_token_hash, foto_perfil) FROM stdin;
3	Alisson Santos	alimiguel1098@gmail.com	489.770.858-37	12991743827	$argon2id$v=19$m=65536,t=3,p=4$Sw6WmfVFjzAF+g3QYxzIJg$lljk3dNxborQfUWewuh1qSnXvk8xUKkqCwADF7lQVEo	cliente	ativo	2025-11-19 10:09:22.74874	\N	\N	\N	\N	Carro	KZT3530	$2b$10$vA6d64kim.unYZFxYU1CzOcRU.v6Ln8eqotqdeRqeKBht3T7wocAq	\N
\.


--
-- Data for Name: vagas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: veiculos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.veiculos (id, usuario_id, tipo_veiculo, placa_veiculo, padrao, data_cadastro, data_atualizacao) FROM stdin;
5	3	Carro	KZT3530	t	2025-11-19 10:09:22.74874-03	2025-11-19 10:09:22.74874-03
\.


--
-- Name: admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admins_id_seq', 7, true);


--
-- Name: estacionamento_pagamentos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estacionamento_pagamentos_id_seq', 1, false);


--
-- Name: estacionamentos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estacionamentos_id_seq', 7, true);


--
-- Name: horarios_funcionamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.horarios_funcionamento_id_seq', 35, true);


--
-- Name: logs_admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.logs_admins_id_seq', 3, true);


--
-- Name: logs_veiculos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.logs_veiculos_id_seq', 1, false);


--
-- Name: notificacoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notificacoes_id_seq', 1, false);


--
-- Name: pagamentos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pagamentos_id_seq', 8, true);


--
-- Name: pagamentos_pix_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pagamentos_pix_id_seq', 1, false);


--
-- Name: reservas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservas_id_seq', 19, true);


--
-- Name: solicitacoes_estacionamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.solicitacoes_estacionamento_id_seq', 1, false);


--
-- Name: tipos_veiculos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipos_veiculos_id_seq', 4, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 3, true);


--
-- Name: vagas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vagas_id_seq', 230, true);


--
-- Name: veiculos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.veiculos_id_seq', 5, true);


--
-- Name: SequelizeMeta SequelizeMeta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SequelizeMeta"
    ADD CONSTRAINT "SequelizeMeta_pkey" PRIMARY KEY (name);


--
-- Name: admins admins_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_email_key UNIQUE (email);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: estacionamento_pagamentos estacionamento_pagamentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estacionamento_pagamentos
    ADD CONSTRAINT estacionamento_pagamentos_pkey PRIMARY KEY (id);


--
-- Name: estacionamentos estacionamentos_cnpj_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estacionamentos
    ADD CONSTRAINT estacionamentos_cnpj_key UNIQUE (cnpj);


--
-- Name: estacionamentos estacionamentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estacionamentos
    ADD CONSTRAINT estacionamentos_pkey PRIMARY KEY (id);


--
-- Name: horarios_funcionamento horarios_funcionamento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios_funcionamento
    ADD CONSTRAINT horarios_funcionamento_pkey PRIMARY KEY (id);


--
-- Name: logs_admins logs_admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_admins
    ADD CONSTRAINT logs_admins_pkey PRIMARY KEY (id);


--
-- Name: logs_veiculos logs_veiculos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_veiculos
    ADD CONSTRAINT logs_veiculos_pkey PRIMARY KEY (id);


--
-- Name: notificacoes notificacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificacoes
    ADD CONSTRAINT notificacoes_pkey PRIMARY KEY (id);


--
-- Name: pagamentos pagamentos_codigo_transacao_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_codigo_transacao_key UNIQUE (codigo_transacao);


--
-- Name: pagamentos_pix pagamentos_pix_codigo_copia_cola_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_pix
    ADD CONSTRAINT pagamentos_pix_codigo_copia_cola_key UNIQUE (codigo_copia_cola);


--
-- Name: pagamentos_pix pagamentos_pix_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_pix
    ADD CONSTRAINT pagamentos_pix_pkey PRIMARY KEY (id);


--
-- Name: pagamentos pagamentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_pkey PRIMARY KEY (id);


--
-- Name: reservas reservas_codigo_reserva_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT reservas_codigo_reserva_key UNIQUE (codigo_reserva);


--
-- Name: reservas reservas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT reservas_pkey PRIMARY KEY (id);


--
-- Name: solicitacoes_estacionamento solicitacoes_estacionamento_cnpj_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitacoes_estacionamento
    ADD CONSTRAINT solicitacoes_estacionamento_cnpj_key UNIQUE (cnpj);


--
-- Name: solicitacoes_estacionamento solicitacoes_estacionamento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitacoes_estacionamento
    ADD CONSTRAINT solicitacoes_estacionamento_pkey PRIMARY KEY (id);


--
-- Name: tipos_veiculos tipos_veiculos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_veiculos
    ADD CONSTRAINT tipos_veiculos_pkey PRIMARY KEY (id);


--
-- Name: estacionamento_pagamentos uk_estacionamento_pagamento; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estacionamento_pagamentos
    ADD CONSTRAINT uk_estacionamento_pagamento UNIQUE (estacionamento_id);


--
-- Name: horarios_funcionamento unq_estacionamento_dia; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios_funcionamento
    ADD CONSTRAINT unq_estacionamento_dia UNIQUE (estacionamento_id, dia_semana);


--
-- Name: usuarios usuarios_cpf_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_cpf_key UNIQUE (cpf);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: vagas vagas_estacionamento_id_numero_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vagas
    ADD CONSTRAINT vagas_estacionamento_id_numero_key UNIQUE (estacionamento_id, numero);


--
-- Name: vagas vagas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vagas
    ADD CONSTRAINT vagas_pkey PRIMARY KEY (id);


--
-- Name: veiculos veiculos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.veiculos
    ADD CONSTRAINT veiculos_pkey PRIMARY KEY (id);


--
-- Name: veiculos veiculos_usuario_id_placa_veiculo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.veiculos
    ADD CONSTRAINT veiculos_usuario_id_placa_veiculo_key UNIQUE (usuario_id, placa_veiculo);


--
-- Name: idx_admins_cnpj; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admins_cnpj ON public.admins USING btree (cnpj);


--
-- Name: idx_admins_refresh_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admins_refresh_token ON public.admins USING btree (refresh_token_hash);


--
-- Name: idx_estacionamento_pagamentos_chave_pix; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_estacionamento_pagamentos_chave_pix ON public.estacionamento_pagamentos USING btree (chave_pix);


--
-- Name: idx_estacionamento_pagamentos_estacionamento_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_estacionamento_pagamentos_estacionamento_id ON public.estacionamento_pagamentos USING btree (estacionamento_id);


--
-- Name: idx_estacionamentos_asaas_wallet; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_estacionamentos_asaas_wallet ON public.estacionamentos USING btree (asaas_wallet_id);


--
-- Name: idx_estacionamentos_chave_pix; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_estacionamentos_chave_pix ON public.estacionamentos USING btree (chave_pix);


--
-- Name: idx_estacionamentos_cnpj; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_estacionamentos_cnpj ON public.estacionamentos USING btree (cnpj);


--
-- Name: idx_logs_admins_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_logs_admins_created ON public.logs_admins USING btree (created_at);


--
-- Name: idx_logs_veiculos_data; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_logs_veiculos_data ON public.logs_veiculos USING btree (data_hora);


--
-- Name: idx_logs_veiculos_saida_null; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_logs_veiculos_saida_null ON public.logs_veiculos USING btree (vaga_id, entrada DESC) WHERE (saida IS NULL);


--
-- Name: idx_logs_veiculos_vaga; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_logs_veiculos_vaga ON public.logs_veiculos USING btree (vaga_id, entrada DESC);


--
-- Name: idx_notificacoes_data_criacao; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notificacoes_data_criacao ON public.notificacoes USING btree (data_criacao DESC);


--
-- Name: idx_notificacoes_lida; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notificacoes_lida ON public.notificacoes USING btree (lida);


--
-- Name: idx_notificacoes_tipo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notificacoes_tipo ON public.notificacoes USING btree (tipo);


--
-- Name: idx_notificacoes_usuario_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notificacoes_usuario_id ON public.notificacoes USING btree (usuario_id);


--
-- Name: idx_pagamentos_id_estacionamento; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pagamentos_id_estacionamento ON public.pagamentos USING btree (id_estacionamento);


--
-- Name: idx_pagamentos_id_reserva; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pagamentos_id_reserva ON public.pagamentos USING btree (reserva_id);


--
-- Name: idx_pagamentos_id_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pagamentos_id_usuario ON public.pagamentos USING btree (id_usuario);


--
-- Name: idx_pagamentos_pix_estacionamento; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pagamentos_pix_estacionamento ON public.pagamentos_pix USING btree (id_estacionamento);


--
-- Name: idx_pagamentos_pix_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pagamentos_pix_status ON public.pagamentos_pix USING btree (status);


--
-- Name: idx_pagamentos_pix_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pagamentos_pix_usuario ON public.pagamentos_pix USING btree (id_usuario);


--
-- Name: idx_reservas_estacionamento; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reservas_estacionamento ON public.reservas USING btree (estacionamento_id);


--
-- Name: idx_reservas_id_pagamento; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reservas_id_pagamento ON public.reservas USING btree (id_pagamento);


--
-- Name: idx_reservas_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reservas_status ON public.reservas USING btree (status);


--
-- Name: idx_reservas_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reservas_usuario ON public.reservas USING btree (usuario_id);


--
-- Name: idx_solicitacoes_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_solicitacoes_status ON public.solicitacoes_estacionamento USING btree (status);


--
-- Name: idx_solicitacoes_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_solicitacoes_usuario ON public.solicitacoes_estacionamento USING btree (usuario_id);


--
-- Name: idx_vagas_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vagas_status ON public.vagas USING btree (estacionamento_id, status);


--
-- Name: idx_veiculos_usuario_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_veiculos_usuario_id ON public.veiculos USING btree (usuario_id);


--
-- Name: admins prevent_duplicate_email_admins; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER prevent_duplicate_email_admins BEFORE INSERT OR UPDATE OF email ON public.admins FOR EACH ROW EXECUTE FUNCTION public.check_email_across_tables();


--
-- Name: usuarios prevent_duplicate_email_usuarios; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER prevent_duplicate_email_usuarios BEFORE INSERT OR UPDATE OF email ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.check_email_across_tables();


--
-- Name: estacionamento_pagamentos tr_estacionamento_pagamentos_atualizacao; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tr_estacionamento_pagamentos_atualizacao BEFORE UPDATE ON public.estacionamento_pagamentos FOR EACH ROW EXECUTE FUNCTION public.atualizar_data_atualizacao();


--
-- Name: estacionamento_pagamentos tr_limpar_chave_pix; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tr_limpar_chave_pix BEFORE DELETE ON public.estacionamento_pagamentos FOR EACH ROW EXECUTE FUNCTION public.limpar_chave_pix();


--
-- Name: estacionamento_pagamentos tr_sincronizar_chave_pix_ins; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tr_sincronizar_chave_pix_ins AFTER INSERT ON public.estacionamento_pagamentos FOR EACH ROW EXECUTE FUNCTION public.sincronizar_chave_pix();


--
-- Name: estacionamento_pagamentos tr_sincronizar_chave_pix_upd; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tr_sincronizar_chave_pix_upd AFTER UPDATE OF chave_pix ON public.estacionamento_pagamentos FOR EACH ROW WHEN (((old.chave_pix)::text IS DISTINCT FROM (new.chave_pix)::text)) EXECUTE FUNCTION public.sincronizar_chave_pix();


--
-- Name: horarios_funcionamento update_horarios_funcionamento_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_horarios_funcionamento_updated_at BEFORE UPDATE ON public.horarios_funcionamento FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: vagas update_vagas_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_vagas_updated_at BEFORE UPDATE ON public.vagas FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: estacionamentos estacionamentos_id_solicitacao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estacionamentos
    ADD CONSTRAINT estacionamentos_id_solicitacao_fkey FOREIGN KEY (id_solicitacao) REFERENCES public.solicitacoes_estacionamento(id);


--
-- Name: estacionamento_pagamentos fk_estacionamento; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estacionamento_pagamentos
    ADD CONSTRAINT fk_estacionamento FOREIGN KEY (estacionamento_id) REFERENCES public.estacionamentos(id) ON DELETE CASCADE;


--
-- Name: estacionamentos fk_estacionamentos_admins; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estacionamentos
    ADD CONSTRAINT fk_estacionamentos_admins FOREIGN KEY (admin_id) REFERENCES public.admins(id) ON DELETE SET NULL;


--
-- Name: pagamentos fk_reserva; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT fk_reserva FOREIGN KEY (reserva_id) REFERENCES public.reservas(id) ON DELETE CASCADE;


--
-- Name: horarios_funcionamento horarios_funcionamento_estacionamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios_funcionamento
    ADD CONSTRAINT horarios_funcionamento_estacionamento_id_fkey FOREIGN KEY (estacionamento_id) REFERENCES public.estacionamentos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: logs_veiculos logs_veiculos_estacionamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_veiculos
    ADD CONSTRAINT logs_veiculos_estacionamento_id_fkey FOREIGN KEY (estacionamento_id) REFERENCES public.estacionamentos(id) ON DELETE CASCADE;


--
-- Name: logs_veiculos logs_veiculos_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_veiculos
    ADD CONSTRAINT logs_veiculos_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: logs_veiculos logs_veiculos_vaga_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_veiculos
    ADD CONSTRAINT logs_veiculos_vaga_id_fkey FOREIGN KEY (vaga_id) REFERENCES public.vagas(id) ON DELETE SET NULL;


--
-- Name: notificacoes notificacoes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificacoes
    ADD CONSTRAINT notificacoes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: pagamentos pagamentos_id_estacionamento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_id_estacionamento_fkey FOREIGN KEY (id_estacionamento) REFERENCES public.estacionamentos(id) ON DELETE CASCADE;


--
-- Name: pagamentos pagamentos_id_reserva_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_id_reserva_fkey FOREIGN KEY (reserva_id) REFERENCES public.reservas(id) ON DELETE CASCADE;


--
-- Name: pagamentos pagamentos_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: pagamentos_pix pagamentos_pix_id_estacionamento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_pix
    ADD CONSTRAINT pagamentos_pix_id_estacionamento_fkey FOREIGN KEY (id_estacionamento) REFERENCES public.estacionamentos(id) ON DELETE CASCADE;


--
-- Name: pagamentos_pix pagamentos_pix_id_reserva_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_pix
    ADD CONSTRAINT pagamentos_pix_id_reserva_fkey FOREIGN KEY (id_reserva) REFERENCES public.reservas(id) ON DELETE SET NULL;


--
-- Name: pagamentos_pix pagamentos_pix_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagamentos_pix
    ADD CONSTRAINT pagamentos_pix_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: reservas reservas_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT reservas_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: reservas reservas_vaga_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT reservas_vaga_id_fkey FOREIGN KEY (vaga_id) REFERENCES public.vagas(id) ON DELETE CASCADE;


--
-- Name: solicitacoes_estacionamento solicitacoes_estacionamento_aprovado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitacoes_estacionamento
    ADD CONSTRAINT solicitacoes_estacionamento_aprovado_por_fkey FOREIGN KEY (aprovado_por) REFERENCES public.usuarios(id);


--
-- Name: solicitacoes_estacionamento solicitacoes_estacionamento_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitacoes_estacionamento
    ADD CONSTRAINT solicitacoes_estacionamento_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: vagas vagas_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vagas
    ADD CONSTRAINT vagas_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: veiculos veiculos_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.veiculos
    ADD CONSTRAINT veiculos_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 9bBPmLOXldg8qail0HfdKEwQdVI9TLfQMKR4K31zu2T0OrU94T9L0GZucFO7sE5

